.te-icon-card {
    &.style-2 {
        border-left: 2px solid $primary-color;
        background-color: $gray-700;
        box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.05);
        padding: 50px 80px 40px 80px;
        position: relative;

        @include sm {
            padding: 40px;
        }
        .icon {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(-50%, -50%);

            @include sm {
                position: unset;
                transform: unset;
                top: unset;
            }
        }
    }
}