.accordion-wrapper {
  position: relative;

  .te-accordion-box-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .te-accordion-list-item {
    background-color: $gray-700;
    overflow: hidden;

    .te-accordion-head {
      display: flex;
      align-items: center;
      gap: 20px;
      cursor: pointer;
      padding: 18px 20px;
      position: relative;
      flex-direction: row-reverse;
      justify-content: space-between;
      // background-color: $primary-color;

      &:before {
        content: "\f103";
        font-family: $font-awesome;
        font-weight: 500;
        background-color: #7f0605;
        color: #7f0605;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25px;
        height: 25px;
        flex-shrink: 0;
        top: 0;
        left: 0;
        inset: 0;
        padding: 2px;
      }
      &.collapsed {
        background-color: transparent;

        &:before {
          position: relative;
          content: "\f101";
          font-family: $font-awesome;
          font-weight: 500;
          background-color: transparent;
          border-radius: 50px;
          color: $blue-color;
          font-size: 12px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 25px;
          height: 25px;
          flex-shrink: 0;
          top: 0;
          left: 0;
          inset: 0;
          padding: 2px;
        }
      }

      .te-accordion-title {
        font-size: 18px;
        line-height: 19px;
        font-weight: 700;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        gap: 20px;
        color: $white;

        span {
          color: $primary-color;
        }
      }
    }
    .te-accordion-body {
      font-size: 18px;
      line-height: 24px;
      font-weight: 500;
      margin: 0 30px;
      padding-bottom: 15px;
      padding-top: 0;
      padding-left: 30px;
      @include transition;
    }
  }
}
