  .accordion-wrapper {
    &.style-2 {
        .te-accordion-box-wrapper {
            gap: 0;
          }

        .te-accordion-list-item {
            border-radius: 0;
            background-color: transparent;
            overflow: hidden;
            border-bottom: 1px solid $border-color;
        
            .te-accordion-head {
                padding: 18px 0;
                background-color: transparent;

              //&:before {
              //  color: $white;
              //  background: none;
              //}
              &.collapsed {
                background-color: transparent;
        
                //&:before {
                //    background: none;
                //    color: $white;
                //}
                .te-accordion-title {
                  color: $white;
                  span {
                    color: $white;
                  }
                }
              }
        
              .te-accordion-title {
                color: $white;
        
                span {
                  color: $white;
                }
              }
            }
            .te-accordion-body {
              color: $text-color;
              margin: 0;
              padding-bottom: 4px;
              padding-top: 0;
              padding-left: 0;
              @include transition;
            }
          }
    }
  }
  