.te-testimonial-card {
    &.style-2 {

        .te-content-wrapper {
            gap: 15px;
            
            .content {
                .title {
                    font-size: 24px;
                    font-weight: 500;
                    line-height: 28px;
                    letter-spacing: 0.5px;
                    color: $gray-800;
                    margin-bottom: 20px;
                }
            }
            .te-user-meta {
                align-items: flex-start;

                @include sm {
                    flex-direction: column-reverse;
                }
                .icon {
                    color: $primary-color;
                    font-size: 55px;
                }
            }
        }
    }
}