.te-portfolio-card {
  overflow: hidden;
  margin-bottom: 30px;

  &:hover {
    .image {
      &:before {
        height: 250%;
        transition: all 900ms linear;
        background-color: transparent;
      }
      .te-content-wrapper {
        visibility: visible;
        opacity: 1;
        @include transition;
        transform: scale(1);

        .content {
          .content-inner {
            margin-bottom: 0;
            @include transition;
          }
          .btn-wrapper {
            @include transition;
          }
          .content-inner {
            @include transition;
            transform: scaleY(1);
          }
        }
      }
      img {
        transform: scale(1.1);
        @include transition;
      }
    }
  }
  .image {
    overflow: hidden;
    position: relative;

    &:before {
      position: absolute;
      width: 200%;
      height: 0%;
      left: 50%;
      top: 50%;
      background-color: rgba(255, 255, 255, 0.3);
      transform: translate(-50%, -50%) rotate(-45deg);
      content: "";
      z-index: 1;
    }

    img {
      transform: scale(1);
      @include transition;
      width: 100%;
    }
  }
  .te-content-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    visibility: hidden;
    opacity: 0;
    @include transition;
    z-index: 99;
    // transform: scale(1.5);

    .content {
      display: flex;
      flex-direction: row;
      height: 100%;
      gap: 10px;
      align-items: flex-end;
      justify-content: space-between;
      position: relative;

      .content-inner {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        padding: 18px 10px;
        // margin-bottom: -100%;
        @include transition;
        transform: scaleY(0.3);
      }
      .sub-title {
        color: $white;
        font-size: 18px;
        line-height: 36px;
        font-weight: 400;
      }
      .title {
        margin-bottom: 0;
        color: $white;
        font-size: 24px;
        line-height: 39px;
        font-weight: 900;
      }

      .btn-wrapper {
        position: absolute;
        top: 0;
        flex-shrink: 0;
        padding: 0;
        @include transition;
        a {
          display: inline-flex;
          width: 40px;
          height: 40px;
          background-color: $primary-color;
          color: $black;
          align-items: center;
          justify-content: center;
          @include transition;
          font-size: 20px;


          @include md {
            width: 35px;
            height: 35px;
            font-size: 18px;
          }
          @include sm {
            width: 30px;
            height: 30px;
            font-size: 18px;
          }
          &:hover {
            @include transition;
            background-color: $primary-color;
            color: $white;
          }
        }
      }
    }
  }
}
.te-portfolio-card {
  &.style-2 {
    .te-content-wrapper {
      .content {
        background: linear-gradient(180deg, rgba(27, 24, 26, 0.00) 0%, rgba(27, 24, 26, 0.70) 100%);
        padding: 20px;

        .btn-wrapper {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

        }
      }
    }
  }
}
// Portfolio Slider
.portfolio-slider-wrapper {
  .slick-list {
    margin: 0 -12px;

    .slick-slide-item {
      margin: 0 12px;

      &:nth-child(odd) {
        .te-portfolio-card {
          padding: 50px 0;
        }
      }
      &:nth-child(even) {
        .te-portfolio-card {
          padding: 0px 0;
        }
      }
    }
  }

}

