.te-process-two-step-wrapper {
  &:nth-child(3n + 3) {
    .te-process-step {
      &.style-2 {

        .te-title-wrapper {
          .shape-image {
            display: none;
          }
        }

      }
    }
  }
  &:nth-child(even) {
    .te-process-step {
      &.style-2 {
        .te-title-wrapper {
          .shape-image {
            top: unset;
            bottom: 90px;
            @include md {
              display: none;
            }
    
            .shape-1 {
              display: none;
            }
            .shape-2 {
              display: block;
            }
          }
        }
      }
    }
  }
  &:last-child {
    .te-process-step {
      &.style-2 {
        .te-title-wrapper {
          .shape-image {
            display: none;
          }
        }
      }
    }
  }
}
.te-process-step {
  &.style-2 {
      text-align: center;
      padding: 0 35px;

      @include lg {
        padding: 0 30px;
      }

      @include xl {
        padding: 0 25px;
      }
      .te-title-wrapper {
          align-items: center;
          gap: 30px;
          position: relative;

          .shape-image {
              top: 0;
              position: absolute;
              right: -50%;
              transform: translateX(-50%);

              @include sm {
                display: none;
              }
              @include lg {
                right: -70%;
              }

              .shape-2 {
                display: none;
              }
          }
          
          .icon-wrapper {
            width: 236px;
            height: 236px;

            @include rmaxwd(991) {
              width: 160px;
              height: 160px;
            }

            @include lg {
              width: 180px;
              height: 180px;
            }

            @include xl {
              width: 200px;
              height: 200px;
            }
    
            &::before {
              padding: 7px;
              border-radius: 50%;
            }
          }
        }
  }
}