.video-slider-item {
  height: 800px;

  @include md {
    height: 700px;
  }
  @include sm {
    height: 650px;
  }

  .video-slider-item-wrapper {
    height: 100%;
    padding: 62px 0;
    @include transition;
    position: relative;

    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      content: "";
      border: 1px solid $primary-color;
      width: calc(100% + 40px);
      height: calc(100% + 40px);
      opacity: 0;
      @include transition;
      z-index: 9;

      @include sm {
        display: none;
      }
    }
  }
}
.video-slider-card {
  height: 100%;
  position: relative;

  .video-thumb {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .video-content {
    display: flex;
    align-items: flex-end;
    position: absolute;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 40px 30px;
    text-align: center;
    z-index: 99;
    background: linear-gradient(
      180deg,
      rgba(27, 24, 26, 0) 0%,
      rgba(27, 24, 26, 0.7) 100%
    );
    visibility: hidden;
    opacity: 0;
    @include transition;

    @include md {
      padding: 20px 10px;
    }
    .title {
      font-size: 30px;
      line-height: initial;
    }
  }
  .play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;

    a {
      width: 80px;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      border: 2px solid;
      border-radius: 50%;
      font-size: 30px;
      color: $white;
    }
  }
}

.video-slider-wrapper {
  .slick-list {
    padding: 60px 0 !important;
    position: relative;
  }
  .slick-slide {
    &.slick-center {
      .video-slider-item-wrapper {
        padding: 0;
        @include transition;

        .video-slider-card {
          .video-content {
            visibility: visible;
            opacity: 1;
            @include transition;
          }
        }
        &:before {
          opacity: 1;
          @include transition;
        }
      }
    }
  }
  .slider-arrow-btn {
    color: #7f0605 !important;
    font-size: 60px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 99;

    @include rmaxwd(1199) {
      font-size: 34px;
    }
    &.prev-btn {
      left: -150px;

      @include rmaxwd(1599) {
        left: -70px;
      }
      @include md() {
        left: -20px !important;
      }
      @include sm() {
        left: 0px !important;
      }
    }
    &.next-btn {
      right: -150px;

      @include rmaxwd(1599) {
        right: -70px;
      }
      @include md() {
        right: -20px !important;
      }
      @include sm() {
        right: 0px !important;
      }
    }
  }
}
