.te-post-card {
    display: flex;
    flex-direction: column;
    position: relative;

  &.style-2 {
    .content-wrapper {
      padding-right: 0;
    }
  }

    &:hover {
      .image {
        img {
          transform: scale(1.05);
          @include transition;
        }
      }
    }
    .image {
      overflow: hidden;
      position: relative;
  
      img {
        @include transition;
        transform: scale(1);
        width: 100%;
      }
  
      .te-post-date {
        position: absolute;
        left: 0;
        bottom: 60px;
        padding: 14px 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        background-color: $primary-color;
        z-index: 99;

        span {
          color: $white;
          font-size: 18px;
          font-weight: 600;
          line-height: initial;
        }
      }
    }
    .content-wrapper {
      padding-right: 50px;
      margin-top: -80px;
      position: relative;
      z-index: 9;
    }
    .content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      position: relative;
      z-index: 3;
      background-color: $gray-700;
      padding: 45px 30px 30px 30px;
  
      .te-post-meta-info {
        display: inline-flex;
        gap: 20px;
        align-items: center;
        margin-bottom: 12px;
  
        .te-single-meta {
          display: flex;
          align-items: center;
          gap: 8px;
  
          span,
          a {
            color: $text-color;
            font-size: 14px;
            line-height: initial;
            font-weight: 400;
            margin: 0;
            text-transform: capitalize;
          }
          i {
            color: $blue-color;
          }
        }
      }
      .title {
        font-size: 24px;
        font-weight: 700;
        line-height: initial;
        font-family: $heading-font;
        margin-bottom: 35px;
        color: $white;
        @include transition;
      }
      a.read-btn {
        font-size: 15px;
        font-weight: 700;
        line-height: initial;
        letter-spacing: 1.6px;
        text-transform: capitalize;
        color: $white;
        display: flex;
        gap: 10px;

        i {
          color: $primary-color;
        }
        &:hover {
          color: $primary-color;
        }
      }
    }
  }
  