.te-info-card {
    &.style-4 {
        padding: 40px;
        border-radius: 5px;
        background: transparent;
        border: 1px solid $border-color;

        .te-content-wrapper {
            flex-direction: row;
            gap: 20px;

            .te-title-wrapper {
                padding: 0;

                .icon {
                    width: 105px;
                    height: 105px;
                    border-radius: 50%;
                    background: $gray-700;
                }
            }
        }
        .content {
            gap: 13px;
            margin-bottom: 0;

            .title {
                font-family: $body-font;
                font-size: 24px;
                font-weight: 500;
                line-height: 32px;
                color: $text-color;
                margin-bottom: 0;
                width: 100%;
            }
        }
    }
}