.te-info-card-wrapper {
  position: relative;
}
.te-info-card {
  padding: 40px;
  position: relative;
  @include transition;
  background-color: $gray-700;

  &:hover {
    @include transition;

    .te-image-wrapper {
      .overlay {
        @include transition;
        opacity: 0.72;
      }
      img {
        transform: scale(1.2);
        @include transition;
      }
    }
    .icon {
      img {
        transform: rotateY(360deg);
        @include transition;
      }
    }
  }
  .te-info-card-inner {
    display: flex;
    flex-direction: column;
    gap: 45px;
    height: 100%;

    @include rmaxwd(991) {
      gap: 30px;
    }
  }

  .te-image-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    overflow: hidden;
    top: 0;
    left: 0;
    transition: all 0.6s ease;
    img {
      width: 100%;
      height: 100%;
      transform: scale(1);
      @include transition;
    }
    .overlay {
      width: 100%;
      height: 100%;
      background: $primary-color;
      @include transition;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.6;
    }
  }
  .icon {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 85px;
    height: 85px;
    padding: 10px;
    border: 1px solid $border-color;

    img {
      @include transition;
    }
  }
  .te-content-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .te-title-wrapper {
    display: flex;
    gap: 32px;
    padding-bottom: 17px;
    border-bottom: none;
    transition: all 0.6s ease;
    flex-direction: column;

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      background: transparent;
      position: relative;
    }
    .title {
      font-size: 24px;
      line-height: 31px;
      font-weight: 700;
      margin: 0;
      color: $white;
      transition: all 0.6s ease;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    margin-bottom: 10px;

    .desc {
      transition: all 0.6s ease;
      font-size: 18px;
      line-height: 26px;
      font-weight: 500;
      margin: 0;
      color: $text-color;
    }
    .te-read-more {
      display: flex;
      justify-content: start;

      .te-theme-btn {
        background-color: transparent;
        color: $blue-color;
        border: 1px solid $gray-200;
        padding: 9px 28px;

        &:hover {
          background-color: $blue-color;
          color: $white;
          @include transition;
        }
      }
    }
  }
}

.te-info-card {
  &.style-2 {
    .read-btn {
      margin-top: 10px;
      margin-bottom: 10px;

      a {
        font-size: 15px;
        font-weight: 700;
        line-height: initial;
        letter-spacing: 1.6px;
        display: flex;
        align-items: center;
        gap: 15px;
        color: $white;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }
  &.style-1 {
    border-top: 3px solid #7f0605;
    text-align: center;
    padding: 30px 24px;

    .icon {
      padding: 0;
      width: unset;
      height: unset;
      border: 0;
    }
  }
}
