* {
  margin: 0;
  border: 0;
  outline: none;
}

html,
body {
  height: 100%;
  font-size: 18px;
  font-weight: 500;
  font-family: $body-font;
  color: $text-color;
  vertical-align: baseline;
  line-height: 26px;
  font-smoothing: antialiased;
  background-color: $gray-900;
}
p {
  margin: 0 0 15px;
}

img {
  max-width: 100%;
  height: auto;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-family: $heading-font;
  color: $secondary-color;
  @include transition;
}

h1 {
  font-size: 69px;
  line-height: initial;
  font-weight: 700;
  text-transform: uppercase;
  font-family: $heading-font;
  @include sm {
    font-size: 48px;
  }
}
h2 {
  font-size: 48px;
  line-height: initial;
  font-weight: 700;
  text-transform: uppercase;
  font-family: $heading-font !important;
  @include sm {
    font-size: 37px;
  }
}
h3 {
  font-size: 37px;
  line-height: initial;
  font-weight: 700;
  text-transform: uppercase;
  font-family: $heading-font;
  @include sm {
    font-size: 24px;
  }
}
h4 {
  font-size: 24px;
  line-height: initial;
  font-weight: 700;
  text-transform: uppercase;
  font-family: $heading-font;
  @include sm {
    font-size: 20px;
  }
}
h5 {
  font-size: 20px;
  line-height: initial;
  font-weight: 700;
  text-transform: uppercase;
  font-family: $heading-font;
  @include sm {
    font-size: 18px;
  }
}
h6 {
  font-size: 18px;
  line-height: initial;
  font-weight: 700;
  text-transform: uppercase;
  font-family: $heading-font;

  @include sm {
    font-size: 16px;
  }
}
label {
  color: $text-color;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  font-family: $heading-font;
}
button {
  cursor: pointer;
  @include transition;
}
a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}
a,
.button {
  font-family: $heading-font;
  text-decoration: none;
  @include transition;
}
a:focus,
.button:focus {
  text-decoration: none;
  outline: none;
}
a:focus {
  color: $primary-color;
  text-decoration: none;
  @include transition;
}
a,
button {
  color: $primary-color;
  outline: medium none;
  @include transition;

  &:hover {
    color: $primary-color;
    @include transition;
  }
}
button:focus,
input:focus,
input:focus,
textarea,
textarea:focus {
  outline: 0;
}
ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

::-moz-selection {
  background: #7f0605;
  text-shadow: none;
  color: #fff;
}
::selection {
  background: #7f0605 !important;
  text-shadow: none;
  color: #fff;
}
textarea:focus,
input:focus {
  outline: none;
}

.background-black {
  background-color: rgb(57, 61, 72);
}

.bg-light-black {
  background-color: rgb(49, 55, 63);
}
.background-blue {
  background-color: $primary-color;
}
.bg-dark-blue {
  background-color: rgb(14, 49, 81);
}
.background-light-blue {
  background-color: $primary-color;
}
.background-skye {
  background-color: $sky-color;
}
.background-gray {
  background-color: $gray-50;
}
.background-light-gray {
  background-color: #f3f7fc;
}
.background-gradient {
  @include gradient-color;
}
.page-bg {
  background-color: $black;
}

.page-area {
  padding-top: 136px;
  padding-bottom: 124px;
}
.blog-area {
  padding-top: 120px;
  padding-bottom: 80px;
}
.page-area,
.blog-area {
  @include rmaxwd(991) {
    padding-top: 100px;
    padding-bottom: 52px;
  }
  @include rmaxwd(767) {
    padding-top: 70px;
    padding-bottom: 22px;
  }
  .page-links {
    margin-bottom: 20px;
  }
}
.border-radius-12 {
  border-radius: 12px;
}
.text-white-100 {
  color: $white-100;
}
code {
  color: $orange-color;
}
.te-theme-btn,
.wp-block-loginout a,
input.te-theme-btn {
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1.4px;
  color: $white;
  background-color: $primary-color;
  border: 1px solid $primary-color;
  position: relative;
  z-index: 1;
  @include transition;
  overflow: hidden;
  text-transform: uppercase;

  &:hover {
    color: $gray-900;
    background-color: $white;
    border-color: $white;
  }
  &:focus {
    color: $gray-900;
  }

  &.style-2 {
    background-color: transparent;
    color: $primary-color;

    &:hover {
      background-color: $primary-color;
      color: $white;
      border-color: $primary-color;
    }
  }
  // Yellow Button
  &.blue-btn {
    background-color: $primary-color;
    border-radius: 50px;
    color: $gray-900;
    padding: 18px 40px;
  }
  &.simple-btn {
    padding-left: 36px;
    padding-right: 36px;
  }
}

.wp-block-loginout {
  a {
    position: relative;

    // &:after {
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;
    //   content: "\f105";
    //   font-family: $font-awesome;
    //   width: 44px;
    //   height: 44px;
    //   border-radius: 6px;
    //   background-color: $primary-color;
    //   color: #fff;
    //   font-size: 18px;
    // }
  }
}
.contact-form-btn {
  justify-content: center;
  width: 100%;
  display: block;
  line-height: 42px;

  .icon {
    float: right;
  }
}
input.te-theme-btn {
  display: inline-block !important;
  width: inherit !important;
  border: 0 !important;
}

.te-slider-btn-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  top: -10px;

  @include sm {
    top: unset;
  }
  .te-slider-nav {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    color: $white;
    font-size: 17px;
    background-color: $primary-color;
    border: 1px solid $primary-color;
    @include transition;

    &:hover {
      background-color: transparent;
      color: $primary-color;
      @include transition;
    }
  }
}

.fa-twitter {
  font-family: sans-serif;
}
.fa-twitter::before {
  content: "ð•" !important;
}

// Elementor Default Padding
.elementor-column-gap-default
  > .elementor-column
  > .elementor-element-populated {
  padding: 0 12px !important;

  @include sm {
    padding: 0 15px !important;
  }
}

.elementor-section.elementor-section-boxed > .elementor-container {
  @include sm {
    max-width: 540px !important;
  }
  @include md {
    max-width: 720px !important;
  }
  @include lg {
    max-width: 960px !important;
  }
  @include xl {
    max-width: 1140px !important;
  }
}

.te-post-comments-form iframe,
.te-post-comments-form .root-data-givewp-embed {
  width: 100% !important;
}
