.te-about-image-card {
  &.style-4 {
    .te-company-foundation-wrapper {
      position: relative;
      padding: 26px 38px;

      .te-img-card-shape {
        position: absolute;
        top: -40px;
        left: 0;
        z-index: -1;
      }
      .te-company-foundation {
        flex-direction: column;
        gap: 0;
        padding: 35px 24px;

        .te-counter-wrapper {
          text-align: center;
        }
        .counter {
          line-height: initial;
        }
        .title {
          text-align: center;
          font-size: 18px;
        }
      }
    }

    .te-main-img-wrapper {
      .te-main-img-inner {
        .about-img-one {
          width: 370px;
          height: 320px;
        }
        .about-img-two {
          width: 312px;
          height: 312px;
          bottom: -200px;
          right: -220px;

          @include sm {
            right: 0;
          }
        }
        .about-img-three {
          width: 206px;
          height: 220px;
          position: absolute;
          top: -40px;
          right: -245px;

          @include sm {
            right: 0;
          }
        }
      }
    }
  }
}